{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-12 col-md-3">
        <form method="POST" action="{% url 'numerology' %}">
            {{ form }}
            {% csrf_token %}
            <button class="btn btn-dambrology btn-block my-4">calcular</button>
        </form>
    </div>
    <div class="col-12 col-md-3">
        {% if numerology is not None %}
            <label for="person_essence">Esencia:</label>
            <input id="person_essence" type="text" class="form-control mb-3" value="{{ numerology.essence }}">
            <label for="person_image">Imagen:</label>
            <input id="person_image" type="text" class="form-control mb-3" value="{{ numerology.image }}">
            <label for="person_destiny">Destino:</label>
            <input id="person_destiny" type="text" class="form-control mb-3" value="{{ numerology.destiny }}">
            <label for="person_path">Sendero natal:</label>
            <input id="person_path" type="text" class="form-control mb-3" value="{{ numerology.path }}">
        {% endif %}
    </div>
</div>

{% endblock %}
